*#
*.AD_DRW
*.bak
*.cfg
*.csv
*.dat
*.docx
*.gpdsc
*.gif
*.gz
*.html
*.log
*.logicsettings
*.ngc
*.orig
*.pdf
*.py
*.pyproj
*.save
*.scratch
*.sdf
*.sh
*.sln
*.tmp
*.txt
*.xls*
*.zip
*~
.#*
.pydevproject
.settings/
.vs/
_FLASH.ld
conPin.csv
cscope*
Debug/
Middlewares/
Old/
pins.lst
/stm32f407xx.h
STM32F4xx_StdPeriph_Driver/
TrueStudio/
*.xlsx
*.csv
*.xlsx
Pinout.csv
pinsD.csv
pinsD.xlsx
